* {
    box-sizing: border-box;
}
 body{
height: 100%;
margin: 0; 
padding:0;
color:white;
font-weight:bold;
font-size:20 px;
font-family: Arial, Helvetica, sans-serif;



    
 /* makes image scale to scr width */
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.topnav {
overflow: hidden;
background-color: rgba(51, 51, 51, 0.99); /* last arg = transparancy */

position: -webkit-sticky; /* Safari */
position: sticky;
width: 100%; /* Full width */
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #4CAF50;			
color: white;
}
img.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

img {
	display: block /* TEST: removes pixels below header */
}
/* Add padding BETWEEN each column */


/* min width must be 24.06% */
#content-background {
background-image: url("img/25.jpg");

background-repeat: no-repeat;
 background-size:100%;
/*background-position: sticky;*/
 background-attachment: fixed;
}
#content-wrapper {
	background-image: url("img/content wrapper 5.jpg");
	margin-left: 24.07%;
	margin-right: 24.07%;

	/* hey alec maybe we should change the gray to a better color personally I want it to glow red like my mouse or at least the text but thats not possible i think */
	/* glow is certainly possible EDIT: i added it  sweeet*/
	
	/* next line gives space between nav bar and gray box (this) */
	
	
	/*do you wanna pick one of the optiions*/
	/* margin-top: 40px; */
	
	box-shadow: 1px 1px 30px orange; /* glow */
	
	/* optional, just for fancyness */
	padding: 0px;
	
}


#content-panel {
	/* margin-top: 20px; */
	padding: 30px;



}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    
   

}

/* Clearfix (clear floats) */
.row {

    

padding: 5px;
    content: "";
    clear: both;
    display: table;
    margin: 10px ;
}
.row,
	.row > .column {
    padding: 8px;
	 padding-top: 3px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom:10;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}




/* Clear floats after rows */ 





